<body>
  <footer class="footer p-5">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <h2>Actividad Angular</h2>
              </div>
              <div class="col-md-3">
                  <h5>Datos Autor</h5>
                  <p>
                     Miguel Krasnoborov López
                  </p>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-md-6">
                  <p>Septiembre 2024</p>
              </div>
          </div>
      </div>
  </footer>
</body>
