<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid icon-title">
      <i class="bi bi-award-fill"></i>
      <div class="text-title">Aplicación usuarios</div>
      <div class="buttons-title">
          <div>
              &nbsp;
              <a class="btn buttons-border" (click)="ir('/home')">🏠Home</a>
              &nbsp;
              <a class="btn buttons-border" (click)="ir('/newuser')">Nuevo usuario</a>
              &nbsp;
          </div>
      </div>
  </div>
</nav>
<hr>
<div></div>
